.about h1 {
    margin-bottom: 100px;
    margin-top: -70px;


}

.about p {
    margin-bottom: 150px;

}


.backgroundDiv p {
    font-size: 1.2vw;
    column-count: 3;
    text-align: left;
    hyphens: auto;
    margin-top: -80px;
    margin-bottom: -50px;
}
