.about h1 {
    margin-bottom: 100px;
    margin-top: -50px;


}


.about p {
    margin-bottom: 120px;

}


.backgroundDiv p {
    font-size: 1.2vw;
    column-count: 3;
    text-align: left;
    hyphens: auto;
    margin-top: -80px;
    margin-bottom: -50px;
}

@media only screen and (max-width: 768px) {
    .backgroundDiv p 
   { 
       column-count: 1;
    font-size: 2.5vw;
    text-align: center;

}
}
