
.mainContainer>* {
  margin-top: 100px;
  
}

.headerText {
  margin-top:-20px;

}

.headerText div {
  margin: 0 auto;
  white-space: nowrap;
  overflow: hidden;
}

.particles {
  position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1; 
}

//Type Animation
.headerText div:nth-child(1) {
  width: 100%;
  -webkit-animation: type 2s steps(40, end);
  animation: type 2s steps(40, end);
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}

.headerText div:nth-child(2) {
  width: 100%;
  opacity: 0;
  animation: type2 2s steps(40, end);
  animation-delay: .6s;
  animation-fill-mode: forwards;
}

.backgroundImg {
  background-image:
              url( 
              "https://res.cloudinary.com/duzle7rzg/image/upload/v1596112152/Portfolio/project-images/esusev0fnwlvnpvqatwq.jpg" 
              );
            background-position: center;
            background-size: cover;
            background-repeat: no-repeat;
            margin-top: -5px;
            // padding-right: 20px;
            margin-right: -20px;
            box-shadow: 25px 25px 50px 0 white inset, -25px -25px 50px 0 white inset;
            
}



.profile-img {
  max-width: 200px;
  height: 200px;
 
  margin-bottom: 100px;
  margin-top:8px;
  transition: transform .5s;
  border-radius: 50%;
  -webkit-box-shadow: 18px 24px 64px -12px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 18px 24px 64px -12px rgba(0, 0, 0, 0.75);
  box-shadow: 18px 24px 64px -12px rgba(0, 0, 0, 0.75);
  z-index:10000;
  opacity: .95;
  animation: image 3s;
  
}

.buttons {
  cursor: pointer;
  position: relative;
  top:-70px; 
}

.adjustTop{
  margin-top: 170px;
}

.adjustMiddle{
  top: -89px;

}

.adjustBottom{
top:0;
// border:3px solid grey;
}


.upButts{
  margin-top: 15px;
border:none;
background-color: white;
}


.icons:hover {
  animation: pulse 1s infinite;
}

@keyframes pulse {
  0% {
    transform: scale(0.95);
  }

  70% {
    transform: scale(1.2);
  }

  100% {
    transform: scale(0.95);
  }
}

.hr {
  width: 30%;
  margin: 0 auto;
  // margin-top: 20px;
}

.project-div {
  margin-bottom: 80px;
}

.to-top {
  border: none;
  margin-top: 50px;
  margin-left: 500px;
  background: none;
 
}


@keyframes type {
  0% {
    width: 0;
  }

  99.9% {}

  100% {
    border: none;
  }
}

@-webkit-keyframes type {
  0% {
    width: 0;
  }

  99.9% {}

  100% {
    border: none;
  }
}

@keyframes type2 {
  0% {
    width: 0;
  }

  1% {
    opacity: 1;
  }

  99.9% {}

  100% {
    opacity: 1;
    border: none;
  }
}

@keyframes image {
  0% {
    opacity: 0
  }


  100% {
    opacity: .95;


  }

}





//RESPONSIVENESS
@media only screen and (max-width: 450px) {
 
}

@media only screen and (max-width: 768px) {

  .icons{
    width:20px;
  }
  .headerText div {
    white-space: normal;
    overflow: visible;
  }
  .profile-img {
    margin-top:50px;
  }
  .backgroundImg {
    margin-right:-100px;
  }

}






