.project-imgs {
    width: 250px;
    overflow: hidden;
    margin-bottom: -50px;

}

.project-imgs:hover {

    transform: translate(10px, 5px) rotate(5deg)
}

.project-container {
    display: flex;
    justify-content: space-evenly;


    li {
        list-style-type: none;
    }

    h3 {
        text-align: center;
        margin-top: 2rem;
        text-decoration: none;
        color: rgb(78, 76, 76);
    }

    h3:hover {
        color: #080808
    }
}

@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.fade-animation-1 {
    animation: fadeInAnimation ease 1s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

.fade-animation-2 {
    animation: fadeInAnimation ease 1.5s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

.fade-animation-3 {
    animation: fadeInAnimation ease 2s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

.fade-animation-4 {
    animation: fadeInAnimation linear .5s;
    animation-iteration-count: 1;
    animation-fill-mode: backwards;
    animation-delay: .5s;
}

