

.project-imgs1 {
    width: 200px;
    overflow: hidden;

}

.project-imgs1:hover {
    transform: translate(10px, 5px) rotate(5deg)
}

.project-imgs2 {
    width: 200px;
    overflow: hidden;

}

.project-imgs2:hover {
    transform: translate(10px, 5px) rotate(-5deg)
}


.project-container {
    display: flex;
    justify-content: space-evenly;

    li {
        list-style-type: none;
    }

    h3 {
        text-align: center;
        margin-top: 3rem;
        margin-bottom: 1rem;
        text-decoration: none;
        color: rgb(78, 76, 76);
    }

    h3:hover {
        color: #080808
    }
}

.iconDiv {
    margin-top:30px;
    display:flex;
    justify-content: space-evenly;
    max-width:100%;
}

.iconSvg {
    max-width :60px;
    flex-grow:1;
}

.iconSvgG {
    width :50px;
}

.iconSvgfB {
    width:35px;
}




@media only screen and (max-width: 768px) {
    .project-imgs {
        width:80px;
    }
    .project-container h3 {
        font-size: 15px;
    }

    .iconSvg {
        width:30px;
    }

    .iconSvgG {
        width :25px;
    }
    
    .iconSvgfB {
        width:25px;
    }
  
  }