.footer {
    margin-top: 3rem;
    display:flex;
    justify-content: center;
    padding:10px

}

.footer p {
    text-align: center;
    margin:20px;
    margin-top:0

}

.icon-container {
    display:flex;
    justify-content: center;
    margin-right:-15px;
}
.icons {
    padding-right:10px
}

