.footer {
    margin-top: -3rem;
    margin-right:25rem
}

.footer p {
    text-align: center;
}

.icon-container {
    display:flex;
    justify-content: center;
}
.icons {
    padding-right:10px
}

